.input {
  background: #f3f4f6;
  font-family: Inter;
  font-weight: 800;
  border-radius: 6px;
  font-size: 36px;
  line-height: 44px;
  text-align: right;
  color: #111827;
  width: 100%;
  padding: 4px 8px;
  border: 0;
  user-select: none;
  height: 52px;
}

.smallFont {
  font-size: 19px;
  line-height: 23px;
}
