@import "reset.scss";

// All page fonts
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/inter-v8-latin_cyrillic-regular.woff2") format("woff2"),
    url("/assets/fonts/inter-v8-latin_cyrillic-regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/inter-v8-latin_cyrillic-500.woff2") format("woff2"),
    url("/assets/fonts/inter-v8-latin_cyrillic-500.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("/assets/fonts/inter-v8-latin_cyrillic-800.woff2") format("woff2"),
    url("/assets/fonts/inter-v8-latin_cyrillic-800.woff") format("woff");
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: Inter, sans-serif;
  font-weight: 500;
}

.blocksPadding {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 4px;
}

.staticElement {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.cursorMove {
  cursor: move;
  > * {
    cursor: move;
  }
}

.noBorder {
  box-shadow: none;
}
